.todo {
	display: flex;
	justify-content: space-between;
}

.todo.completed {
	font-style: italic;
	color: #888;
	text-decoration: line-through;
}

.todo.incomplete {
	color: #a00;
	font-weight: bold;
}

.hide {
	display: none;
}
