.todo {
	display: flex;
	justify-content: space-between;
}

.todo.completed {
	font-style: italic;
	color: #888;
	text-decoration: line-through;
}

.todo.incomplete {
	color: #a00;
	font-weight: bold;
}

.hide {
	display: none;
}

#boo {
	display: none;
}

#boo.scare {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000cc;
	justify-content: center;
	align-items: center;
	font-size: 1600%;
}
