.todo {
	display: flex;
	justify-content: space-between;
}

.todo.completed {
	font-style: italic;
	color: #888;
	text-decoration: line-through;
}

.todo.incomplete {
	color: #a00;
	font-weight: bold;
}

.hide {
	display: none;
}

#boo {
	display: none;
}

#boo.scare {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000cc;
	justify-content: center;
	align-items: center;
	font-size: 1600%;
}

#todo-count {
	background-color: #5a9e;
	border-radius: 200%;
	font-size: 5rem;
	line-height: 1;
	text-align: center;
	padding: 1rem;

	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 8rem;
	height: 8rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
