.todo {
	display: flex;
	justify-content: space-between;
}

.todo span {
	cursor: pointer;
}

.todo.completed span {
	font-style: italic;
	color: #888;
	text-decoration: line-through;
}

.todo.incomplete span {
	color: #dc3545;
	font-weight: bold;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.hide {
	display: none;
}

#it-crowd-reset {
	opacity: 0;
	transition: opacity 1s;
}

#it-crowd-reset.show {
	opacity: 1;
}
